@font-face {
  font-family: "default_font";
  src: url("fonts/BAHNSCHRIFT.TTF");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "default_font", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(farthest-corner at 60px 60px, #212121 0%, black 100%);
  background-size: cover;
  overflow: hidden;
}

.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}

nav {
  position: fixed;
}

nav ul {
  list-style: none;
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
}

.img-holder img {
  height: 40vmin;
  width: 40vmin;
}

@media only screen and (max-width: 900px) {
  .img-holder {
    display: none;
  }
  .title-section {
    text-align: center;
  }
}
.title-section {
  max-width: 900px;
}
.title-section h1 {
  margin: 0 20px;
  font-size: 13vmin;
  color: #8b6a13;
}
.title-section p {
  margin: 0 10px;
  font-size: 5vmin;
  color: #fff;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: rotate(-25deg);
}

.star {
  --star-color: #8b6a13;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.51em;
  --top-offset: 36.18vh;
  --fall-duration: 9.541s;
  --fall-delay: 0.642s;
}
.star:nth-child(2) {
  --star-tail-length: 6.07em;
  --top-offset: 62.34vh;
  --fall-duration: 9.297s;
  --fall-delay: 4.157s;
}
.star:nth-child(3) {
  --star-tail-length: 6.65em;
  --top-offset: 54.04vh;
  --fall-duration: 9.938s;
  --fall-delay: 1.239s;
}
.star:nth-child(4) {
  --star-tail-length: 5.14em;
  --top-offset: 45.31vh;
  --fall-duration: 11.822s;
  --fall-delay: 9.449s;
}
.star:nth-child(5) {
  --star-tail-length: 5.03em;
  --top-offset: 65.83vh;
  --fall-duration: 7.169s;
  --fall-delay: 6.704s;
}
.star:nth-child(6) {
  --star-tail-length: 5.04em;
  --top-offset: 48.82vh;
  --fall-duration: 8.4s;
  --fall-delay: 7.676s;
}
.star:nth-child(7) {
  --star-tail-length: 6.15em;
  --top-offset: 13.39vh;
  --fall-duration: 11.76s;
  --fall-delay: 3.77s;
}
.star:nth-child(8) {
  --star-tail-length: 6.15em;
  --top-offset: 49.4vh;
  --fall-duration: 6.605s;
  --fall-delay: 5.306s;
}
.star:nth-child(9) {
  --star-tail-length: 7em;
  --top-offset: 39.54vh;
  --fall-duration: 7.998s;
  --fall-delay: 5.936s;
}
.star:nth-child(10) {
  --star-tail-length: 7.03em;
  --top-offset: 64.59vh;
  --fall-duration: 9.901s;
  --fall-delay: 7.342s;
}
.star:nth-child(11) {
  --star-tail-length: 5.83em;
  --top-offset: 55.41vh;
  --fall-duration: 6.873s;
  --fall-delay: 0.554s;
}
.star:nth-child(12) {
  --star-tail-length: 5.27em;
  --top-offset: 86.92vh;
  --fall-duration: 8.933s;
  --fall-delay: 9.672s;
}
.star:nth-child(13) {
  --star-tail-length: 6.7em;
  --top-offset: 68.24vh;
  --fall-duration: 11.263s;
  --fall-delay: 5.379s;
}
.star:nth-child(14) {
  --star-tail-length: 6.04em;
  --top-offset: 28.93vh;
  --fall-duration: 7.941s;
  --fall-delay: 4.911s;
}
.star:nth-child(15) {
  --star-tail-length: 5.8em;
  --top-offset: 79.38vh;
  --fall-duration: 10.958s;
  --fall-delay: 4.675s;
}
.star:nth-child(16) {
  --star-tail-length: 5.64em;
  --top-offset: 85.19vh;
  --fall-duration: 11.612s;
  --fall-delay: 3.067s;
}
.star:nth-child(17) {
  --star-tail-length: 5.71em;
  --top-offset: 95.11vh;
  --fall-duration: 6.674s;
  --fall-delay: 1.712s;
}
.star:nth-child(18) {
  --star-tail-length: 6.68em;
  --top-offset: 82.9vh;
  --fall-duration: 9.205s;
  --fall-delay: 3.295s;
}
.star:nth-child(19) {
  --star-tail-length: 7.3em;
  --top-offset: 53.08vh;
  --fall-duration: 10.515s;
  --fall-delay: 4.338s;
}
.star:nth-child(20) {
  --star-tail-length: 7.07em;
  --top-offset: 69.09vh;
  --fall-duration: 8.312s;
  --fall-delay: 0.841s;
}
.star:nth-child(21) {
  --star-tail-length: 6.28em;
  --top-offset: 12.42vh;
  --fall-duration: 11.738s;
  --fall-delay: 3.092s;
}
.star:nth-child(22) {
  --star-tail-length: 6.14em;
  --top-offset: 56.94vh;
  --fall-duration: 11.217s;
  --fall-delay: 2.97s;
}
.star:nth-child(23) {
  --star-tail-length: 6.03em;
  --top-offset: 65.22vh;
  --fall-duration: 9.69s;
  --fall-delay: 9.509s;
}
.star:nth-child(24) {
  --star-tail-length: 5.47em;
  --top-offset: 40.73vh;
  --fall-duration: 6.361s;
  --fall-delay: 8.655s;
}
.star:nth-child(25) {
  --star-tail-length: 5.77em;
  --top-offset: 63.28vh;
  --fall-duration: 7.902s;
  --fall-delay: 3.86s;
}
.star:nth-child(26) {
  --star-tail-length: 6.5em;
  --top-offset: 5.73vh;
  --fall-duration: 8.894s;
  --fall-delay: 9.142s;
}
.star:nth-child(27) {
  --star-tail-length: 5.94em;
  --top-offset: 94.39vh;
  --fall-duration: 11.862s;
  --fall-delay: 3.254s;
}
.star:nth-child(28) {
  --star-tail-length: 6.12em;
  --top-offset: 86.87vh;
  --fall-duration: 9.719s;
  --fall-delay: 0.016s;
}
.star:nth-child(29) {
  --star-tail-length: 6.08em;
  --top-offset: 19.18vh;
  --fall-duration: 9.098s;
  --fall-delay: 6.377s;
}
.star:nth-child(30) {
  --star-tail-length: 5.84em;
  --top-offset: 98.1vh;
  --fall-duration: 6.73s;
  --fall-delay: 5.764s;
}
.star:nth-child(31) {
  --star-tail-length: 5.56em;
  --top-offset: 3.16vh;
  --fall-duration: 11.53s;
  --fall-delay: 4.742s;
}
.star:nth-child(32) {
  --star-tail-length: 5.82em;
  --top-offset: 31.96vh;
  --fall-duration: 8.538s;
  --fall-delay: 5.534s;
}
.star:nth-child(33) {
  --star-tail-length: 6.63em;
  --top-offset: 5.66vh;
  --fall-duration: 10.591s;
  --fall-delay: 4.837s;
}
.star:nth-child(34) {
  --star-tail-length: 6.57em;
  --top-offset: 29.39vh;
  --fall-duration: 11.14s;
  --fall-delay: 4.114s;
}
.star:nth-child(35) {
  --star-tail-length: 7.14em;
  --top-offset: 62.28vh;
  --fall-duration: 8.546s;
  --fall-delay: 9.2s;
}
.star:nth-child(36) {
  --star-tail-length: 5.01em;
  --top-offset: 69.72vh;
  --fall-duration: 8.504s;
  --fall-delay: 0.731s;
}
.star:nth-child(37) {
  --star-tail-length: 7.35em;
  --top-offset: 26.07vh;
  --fall-duration: 10.778s;
  --fall-delay: 6.226s;
}
.star:nth-child(38) {
  --star-tail-length: 7em;
  --top-offset: 85.7vh;
  --fall-duration: 11.836s;
  --fall-delay: 0.04s;
}
.star:nth-child(39) {
  --star-tail-length: 6.85em;
  --top-offset: 17.36vh;
  --fall-duration: 9.903s;
  --fall-delay: 7.24s;
}
.star:nth-child(40) {
  --star-tail-length: 6.69em;
  --top-offset: 61.88vh;
  --fall-duration: 6.377s;
  --fall-delay: 2.482s;
}
.star:nth-child(41) {
  --star-tail-length: 6.56em;
  --top-offset: 24.39vh;
  --fall-duration: 8.334s;
  --fall-delay: 2.442s;
}
.star:nth-child(42) {
  --star-tail-length: 6.97em;
  --top-offset: 20.23vh;
  --fall-duration: 10.492s;
  --fall-delay: 7.065s;
}
.star:nth-child(43) {
  --star-tail-length: 7.23em;
  --top-offset: 44.36vh;
  --fall-duration: 11.804s;
  --fall-delay: 6.904s;
}
.star:nth-child(44) {
  --star-tail-length: 5.58em;
  --top-offset: 71.49vh;
  --fall-duration: 9.472s;
  --fall-delay: 4.658s;
}
.star:nth-child(45) {
  --star-tail-length: 5.67em;
  --top-offset: 45.55vh;
  --fall-duration: 10.947s;
  --fall-delay: 8.81s;
}
.star:nth-child(46) {
  --star-tail-length: 7.3em;
  --top-offset: 93.01vh;
  --fall-duration: 10.108s;
  --fall-delay: 1.72s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.services {
  width: 100vw;
  height: 100vh;
  background-image: url(img/party-cover.jpg);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */