//* variables
$white: #fff;
$gold: #8b6a13;
$black: #000;
$fh1: 13vmin;
$fh2: 5vmin;
$fh3: 3.5vmin;
$fh4: 2vmin;

@font-face {
  font-family: "default_font";
  src: url("fonts/BAHNSCHRIFT.TTF");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "default_font", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}
//*btns styles
.btn-r {
  border: transparent;
  border-radius: 5px;
  color: $white;
  background-color: $gold;
  padding: 10px 15px;
  transition: 0.3s;
  &:hover {
    background-color: lighten($gold, 5%);
  }
}
//*end of btns
.the_horse_bug {
  position: absolute;
  overflow: hidden;
}
header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 3vw 5vh,
    #212121 0%,
    black 100%
  );
  background-size: cover;
  overflow: hidden;
}
.logo {
  float: left;
  margin: 16px 36px;
  width: 80.5px;
  height: 35px;
}
#navbar {
  top: 0;
  transition: 0.2s;
  background-color: $black;
}
nav {
  height: 70px;
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: stretch;
  color: $white;
  margin: 0;
  width: 100vw;
  a {
    flex-basis: 150px;
  }
  ul {
    flex-grow: 5;
    white-space: nowrap;
    li {
      display: inline-block;
      padding: 20px;
      a {
        text-decoration: none;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {
          color: $gold;
          transition: 0.7s;
        }
      }
    }
  }
  .account-info {
    flex-basis: 200px;
    white-space: nowrap;
    display: block;
    padding-top: 10px;
    button {
      margin: 0px 5px;
    }
  }
  #menu-icon {
    transition: 0.2s;
    position: fixed;
    top: 35px;
    right: 20px;
    cursor: pointer;
    display: none;
  }
}
#sidebar {
  overflow: hidden;
  transition: 0.2s;
  background-color: $black;
  opacity: 0.9;
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 0px;
  ul {
    display: flex;
    flex-direction: column;
  }
}
.img-holder {
  img {
    $img-size: 40vmin;
    height: $img-size;
    width: $img-size;
  }
}
@media only screen and (max-width: 750px) {
  nav {
    .navlist {
      display: none;
    }
    div.account-info {
      display: none !important;
    }
  }
  #menu-icon {
    display: initial !important;
  }
}
@media only screen and (max-width: 900px) {
  .img-holder {
    display: none;
  }
  .title-section {
    text-align: center;
  }
}
.title-section {
  max-width: 900px;
  h1 {
    margin: 0 20px;
    font-size: $fh1;
    color: $gold;
  }
  p {
    margin: 0 10px;
    font-size: $fh2;
    color: $white;
  }
}
//*start of stars
@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}
@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}
.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: rotate(-25deg);
}

.star {
  $star-count: 46;
  --star-color: #8b6a13;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
//*end of stars
.services {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    farthest-corner at 97vw 95vh,
    #212121 0%,
    black 100%
  );
  background-size: cover;
}
