@font-face {
  font-family: "default_font";
  src: url("fonts/BAHNSCHRIFT.TTF");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "default_font", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

.btn-r {
  border: transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #8b6a13;
  padding: 10px 15px;
  transition: 0.3s;
}
.btn-r:hover {
  background-color: #a17b16;
}

.the_horse_bug {
  position: absolute;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(farthest-corner at 3vw 5vh, #212121 0%, black 100%);
  background-size: cover;
  overflow: hidden;
}

.logo {
  float: left;
  margin: 16px 36px;
  width: 80.5px;
  height: 35px;
}

#navbar {
  top: 0;
  transition: 0.2s;
  background-color: #000;
}

nav {
  height: 70px;
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: stretch;
  color: #fff;
  margin: 0;
  width: 100vw;
}
nav a {
  flex-basis: 150px;
}
nav ul {
  flex-grow: 5;
  white-space: nowrap;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav ul li a:hover {
  color: #8b6a13;
  transition: 0.5s;
}
nav .account-info {
  flex-basis: 200px;
  white-space: nowrap;
  display: block;
  padding-top: 10px;
}
nav .account-info button {
  margin: 0px 5px;
}
nav #menu-icon {
  transition: 0.2s;
  position: fixed;
  top: 35px;
  right: 20px;
  cursor: pointer;
  display: none;
}

#sidebar {
  overflow: hidden;
  transition: 0.2s;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 0px;
}
#sidebar ul {
  display: flex;
  flex-direction: column;
}

.img-holder img {
  height: 40vmin;
  width: 40vmin;
}

@media only screen and (max-width: 750px) {
  nav .navlist {
    display: none;
  }
  nav div.account-info {
    display: none !important;
  }
  #menu-icon {
    display: initial !important;
  }
}
@media only screen and (max-width: 900px) {
  .img-holder {
    display: none;
  }
  .title-section {
    text-align: center;
  }
}
.title-section {
  max-width: 900px;
}
.title-section h1 {
  margin: 0 20px;
  font-size: 13vmin;
  color: #8b6a13;
}
.title-section p {
  margin: 0 10px;
  font-size: 5vmin;
  color: #fff;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: rotate(-25deg);
}

.star {
  --star-color: #8b6a13;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.39em;
  --top-offset: 22.04vh;
  --fall-duration: 8.744s;
  --fall-delay: 5.047s;
}
.star:nth-child(2) {
  --star-tail-length: 5.06em;
  --top-offset: 86.13vh;
  --fall-duration: 11.01s;
  --fall-delay: 2.618s;
}
.star:nth-child(3) {
  --star-tail-length: 6.64em;
  --top-offset: 87.06vh;
  --fall-duration: 10.242s;
  --fall-delay: 4.651s;
}
.star:nth-child(4) {
  --star-tail-length: 7.46em;
  --top-offset: 1.93vh;
  --fall-duration: 11.495s;
  --fall-delay: 0.286s;
}
.star:nth-child(5) {
  --star-tail-length: 5.49em;
  --top-offset: 90.95vh;
  --fall-duration: 8.083s;
  --fall-delay: 9.314s;
}
.star:nth-child(6) {
  --star-tail-length: 6.45em;
  --top-offset: 66.76vh;
  --fall-duration: 7.767s;
  --fall-delay: 8.118s;
}
.star:nth-child(7) {
  --star-tail-length: 6.17em;
  --top-offset: 19.17vh;
  --fall-duration: 9.705s;
  --fall-delay: 7.894s;
}
.star:nth-child(8) {
  --star-tail-length: 5.51em;
  --top-offset: 37.29vh;
  --fall-duration: 9.804s;
  --fall-delay: 0.901s;
}
.star:nth-child(9) {
  --star-tail-length: 6.17em;
  --top-offset: 30.8vh;
  --fall-duration: 6.276s;
  --fall-delay: 0.481s;
}
.star:nth-child(10) {
  --star-tail-length: 6.78em;
  --top-offset: 50.94vh;
  --fall-duration: 11.073s;
  --fall-delay: 4.164s;
}
.star:nth-child(11) {
  --star-tail-length: 5.07em;
  --top-offset: 50.48vh;
  --fall-duration: 10.78s;
  --fall-delay: 4.619s;
}
.star:nth-child(12) {
  --star-tail-length: 6.47em;
  --top-offset: 63.45vh;
  --fall-duration: 11.84s;
  --fall-delay: 4.13s;
}
.star:nth-child(13) {
  --star-tail-length: 7.04em;
  --top-offset: 77.54vh;
  --fall-duration: 10.577s;
  --fall-delay: 0.738s;
}
.star:nth-child(14) {
  --star-tail-length: 5.45em;
  --top-offset: 72.11vh;
  --fall-duration: 11.392s;
  --fall-delay: 0.48s;
}
.star:nth-child(15) {
  --star-tail-length: 6.74em;
  --top-offset: 78.34vh;
  --fall-duration: 7.162s;
  --fall-delay: 5.074s;
}
.star:nth-child(16) {
  --star-tail-length: 5.39em;
  --top-offset: 58.02vh;
  --fall-duration: 9.13s;
  --fall-delay: 3.69s;
}
.star:nth-child(17) {
  --star-tail-length: 6.43em;
  --top-offset: 60.06vh;
  --fall-duration: 8.486s;
  --fall-delay: 0.745s;
}
.star:nth-child(18) {
  --star-tail-length: 5.98em;
  --top-offset: 91.5vh;
  --fall-duration: 11.487s;
  --fall-delay: 6.086s;
}
.star:nth-child(19) {
  --star-tail-length: 5.22em;
  --top-offset: 63.46vh;
  --fall-duration: 8.244s;
  --fall-delay: 3.27s;
}
.star:nth-child(20) {
  --star-tail-length: 6.15em;
  --top-offset: 20.73vh;
  --fall-duration: 7.379s;
  --fall-delay: 8.723s;
}
.star:nth-child(21) {
  --star-tail-length: 6.71em;
  --top-offset: 68.32vh;
  --fall-duration: 6.244s;
  --fall-delay: 9.157s;
}
.star:nth-child(22) {
  --star-tail-length: 5.85em;
  --top-offset: 62.1vh;
  --fall-duration: 10.213s;
  --fall-delay: 5.402s;
}
.star:nth-child(23) {
  --star-tail-length: 5.96em;
  --top-offset: 40.97vh;
  --fall-duration: 9.969s;
  --fall-delay: 9.138s;
}
.star:nth-child(24) {
  --star-tail-length: 7.02em;
  --top-offset: 42.73vh;
  --fall-duration: 9.874s;
  --fall-delay: 0.496s;
}
.star:nth-child(25) {
  --star-tail-length: 5.01em;
  --top-offset: 44.51vh;
  --fall-duration: 7.073s;
  --fall-delay: 4.142s;
}
.star:nth-child(26) {
  --star-tail-length: 6.08em;
  --top-offset: 94.8vh;
  --fall-duration: 6.679s;
  --fall-delay: 8.817s;
}
.star:nth-child(27) {
  --star-tail-length: 7.19em;
  --top-offset: 57.41vh;
  --fall-duration: 6.422s;
  --fall-delay: 4.466s;
}
.star:nth-child(28) {
  --star-tail-length: 5.18em;
  --top-offset: 50.46vh;
  --fall-duration: 9.601s;
  --fall-delay: 8.565s;
}
.star:nth-child(29) {
  --star-tail-length: 7.24em;
  --top-offset: 71.75vh;
  --fall-duration: 6.534s;
  --fall-delay: 8.183s;
}
.star:nth-child(30) {
  --star-tail-length: 5.6em;
  --top-offset: 99.01vh;
  --fall-duration: 6.21s;
  --fall-delay: 6.171s;
}
.star:nth-child(31) {
  --star-tail-length: 7.44em;
  --top-offset: 91.38vh;
  --fall-duration: 9.812s;
  --fall-delay: 4.852s;
}
.star:nth-child(32) {
  --star-tail-length: 5.73em;
  --top-offset: 68.75vh;
  --fall-duration: 11.591s;
  --fall-delay: 7.875s;
}
.star:nth-child(33) {
  --star-tail-length: 5.56em;
  --top-offset: 88.71vh;
  --fall-duration: 7.231s;
  --fall-delay: 7.849s;
}
.star:nth-child(34) {
  --star-tail-length: 6.05em;
  --top-offset: 57.24vh;
  --fall-duration: 8.906s;
  --fall-delay: 7.936s;
}
.star:nth-child(35) {
  --star-tail-length: 7.37em;
  --top-offset: 45.95vh;
  --fall-duration: 7.929s;
  --fall-delay: 8.119s;
}
.star:nth-child(36) {
  --star-tail-length: 6.71em;
  --top-offset: 15.75vh;
  --fall-duration: 7.605s;
  --fall-delay: 4.304s;
}
.star:nth-child(37) {
  --star-tail-length: 5.9em;
  --top-offset: 13.77vh;
  --fall-duration: 6.541s;
  --fall-delay: 2.837s;
}
.star:nth-child(38) {
  --star-tail-length: 5.6em;
  --top-offset: 3.84vh;
  --fall-duration: 8.466s;
  --fall-delay: 5.456s;
}
.star:nth-child(39) {
  --star-tail-length: 5.77em;
  --top-offset: 87.66vh;
  --fall-duration: 6.582s;
  --fall-delay: 2.385s;
}
.star:nth-child(40) {
  --star-tail-length: 5.65em;
  --top-offset: 71.06vh;
  --fall-duration: 6.306s;
  --fall-delay: 9.652s;
}
.star:nth-child(41) {
  --star-tail-length: 7.14em;
  --top-offset: 52.83vh;
  --fall-duration: 6.823s;
  --fall-delay: 8.149s;
}
.star:nth-child(42) {
  --star-tail-length: 5.24em;
  --top-offset: 33.8vh;
  --fall-duration: 9.573s;
  --fall-delay: 0.402s;
}
.star:nth-child(43) {
  --star-tail-length: 5.8em;
  --top-offset: 8.69vh;
  --fall-duration: 10.865s;
  --fall-delay: 5.801s;
}
.star:nth-child(44) {
  --star-tail-length: 6.92em;
  --top-offset: 89.67vh;
  --fall-duration: 9.758s;
  --fall-delay: 3.88s;
}
.star:nth-child(45) {
  --star-tail-length: 5.9em;
  --top-offset: 94.12vh;
  --fall-duration: 8.017s;
  --fall-delay: 1.826s;
}
.star:nth-child(46) {
  --star-tail-length: 6.47em;
  --top-offset: 77.64vh;
  --fall-duration: 9.45s;
  --fall-delay: 5.976s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.services {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 97vw 95vh, #212121 0%, black 100%);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */