@font-face {
  font-family: "default_font";
  src: url("fonts/BAHNSCHRIFT.TTF");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "default_font", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}

.btn-r {
  border: transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #8b6a13;
  padding: 10px 15px;
  transition: 0.3s;
}
.btn-r:hover {
  background-color: #a17b16;
}

.the_horse_bug {
  position: absolute;
  overflow: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(farthest-corner at 3vw 5vh, #212121 0%, black 100%);
  background-size: cover;
  overflow: hidden;
}

.logo {
  float: left;
  margin: 16px 36px;
  width: 80.5px;
  height: 35px;
}

nav {
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: stretch;
  color: #fff;
  margin: 0;
  height: 70px;
  width: 100vw;
}
nav.black {
  background-color: #000;
}
nav a {
  flex-basis: 150px;
}
nav ul {
  flex-grow: 5;
  white-space: nowrap;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
nav ul li a:hover {
  color: #8b6a13;
  transition: 0.5s;
}
nav .account-info {
  flex-basis: 200px;
  white-space: nowrap;
  display: block;
  padding-top: 10px;
}
nav .account-info button {
  margin: 0px 5px;
}
nav #menu-icon {
  position: fixed;
  top: 35px;
  right: 20px;
  cursor: pointer;
  display: none;
}

.sidebar {
  overflow: hidden;
  transition: 0.2s;
  background-color: #000;
  opacity: 0.9;
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 0px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
}

.img-holder img {
  height: 40vmin;
  width: 40vmin;
}

@media only screen and (max-width: 750px) {
  nav .navlist {
    display: none;
  }
  nav div.account-info {
    display: none !important;
  }
  #menu-icon {
    display: initial !important;
  }
}
@media only screen and (max-width: 900px) {
  .img-holder {
    display: none;
  }
  .title-section {
    text-align: center;
  }
}
.title-section {
  max-width: 900px;
}
.title-section h1 {
  margin: 0 20px;
  font-size: 13vmin;
  color: #8b6a13;
}
.title-section p {
  margin: 0 10px;
  font-size: 5vmin;
  color: #fff;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  transform: rotate(-25deg);
}

.star {
  --star-color: #8b6a13;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.85em;
  --top-offset: 35.08vh;
  --fall-duration: 7.744s;
  --fall-delay: 2.481s;
}
.star:nth-child(2) {
  --star-tail-length: 6.97em;
  --top-offset: 95.57vh;
  --fall-duration: 8.139s;
  --fall-delay: 6.407s;
}
.star:nth-child(3) {
  --star-tail-length: 6.99em;
  --top-offset: 27.77vh;
  --fall-duration: 9.035s;
  --fall-delay: 2.25s;
}
.star:nth-child(4) {
  --star-tail-length: 6.26em;
  --top-offset: 88.18vh;
  --fall-duration: 11.042s;
  --fall-delay: 6.447s;
}
.star:nth-child(5) {
  --star-tail-length: 5.67em;
  --top-offset: 6.34vh;
  --fall-duration: 11.289s;
  --fall-delay: 7.231s;
}
.star:nth-child(6) {
  --star-tail-length: 5.54em;
  --top-offset: 62.73vh;
  --fall-duration: 11.436s;
  --fall-delay: 2.631s;
}
.star:nth-child(7) {
  --star-tail-length: 7.08em;
  --top-offset: 52.01vh;
  --fall-duration: 10.356s;
  --fall-delay: 6.538s;
}
.star:nth-child(8) {
  --star-tail-length: 7.19em;
  --top-offset: 23.74vh;
  --fall-duration: 6.437s;
  --fall-delay: 3.548s;
}
.star:nth-child(9) {
  --star-tail-length: 6.33em;
  --top-offset: 28.84vh;
  --fall-duration: 10.854s;
  --fall-delay: 1.75s;
}
.star:nth-child(10) {
  --star-tail-length: 5.83em;
  --top-offset: 74.69vh;
  --fall-duration: 9.322s;
  --fall-delay: 2.581s;
}
.star:nth-child(11) {
  --star-tail-length: 6.04em;
  --top-offset: 6.84vh;
  --fall-duration: 9.628s;
  --fall-delay: 1.749s;
}
.star:nth-child(12) {
  --star-tail-length: 5.21em;
  --top-offset: 7.36vh;
  --fall-duration: 10.808s;
  --fall-delay: 9.88s;
}
.star:nth-child(13) {
  --star-tail-length: 7.14em;
  --top-offset: 29.9vh;
  --fall-duration: 6.119s;
  --fall-delay: 7.805s;
}
.star:nth-child(14) {
  --star-tail-length: 5.55em;
  --top-offset: 11.35vh;
  --fall-duration: 7.292s;
  --fall-delay: 3.413s;
}
.star:nth-child(15) {
  --star-tail-length: 5.29em;
  --top-offset: 90.4vh;
  --fall-duration: 9.201s;
  --fall-delay: 4.288s;
}
.star:nth-child(16) {
  --star-tail-length: 6.83em;
  --top-offset: 26.81vh;
  --fall-duration: 8.553s;
  --fall-delay: 9.649s;
}
.star:nth-child(17) {
  --star-tail-length: 7.18em;
  --top-offset: 24.69vh;
  --fall-duration: 10.136s;
  --fall-delay: 5.467s;
}
.star:nth-child(18) {
  --star-tail-length: 5.5em;
  --top-offset: 44.24vh;
  --fall-duration: 7.759s;
  --fall-delay: 0.882s;
}
.star:nth-child(19) {
  --star-tail-length: 5.91em;
  --top-offset: 51.68vh;
  --fall-duration: 10.594s;
  --fall-delay: 7.333s;
}
.star:nth-child(20) {
  --star-tail-length: 6.2em;
  --top-offset: 84.79vh;
  --fall-duration: 6.922s;
  --fall-delay: 8.457s;
}
.star:nth-child(21) {
  --star-tail-length: 6.08em;
  --top-offset: 44.94vh;
  --fall-duration: 10.082s;
  --fall-delay: 5.002s;
}
.star:nth-child(22) {
  --star-tail-length: 5.22em;
  --top-offset: 87.22vh;
  --fall-duration: 10.832s;
  --fall-delay: 6.084s;
}
.star:nth-child(23) {
  --star-tail-length: 7.43em;
  --top-offset: 45.61vh;
  --fall-duration: 8.525s;
  --fall-delay: 7.508s;
}
.star:nth-child(24) {
  --star-tail-length: 5.69em;
  --top-offset: 94.3vh;
  --fall-duration: 8.284s;
  --fall-delay: 4.593s;
}
.star:nth-child(25) {
  --star-tail-length: 6.47em;
  --top-offset: 22.16vh;
  --fall-duration: 10.473s;
  --fall-delay: 1.356s;
}
.star:nth-child(26) {
  --star-tail-length: 7.41em;
  --top-offset: 32.67vh;
  --fall-duration: 10.574s;
  --fall-delay: 2.011s;
}
.star:nth-child(27) {
  --star-tail-length: 6.98em;
  --top-offset: 31.27vh;
  --fall-duration: 6.85s;
  --fall-delay: 8.679s;
}
.star:nth-child(28) {
  --star-tail-length: 5.29em;
  --top-offset: 79.32vh;
  --fall-duration: 9.534s;
  --fall-delay: 7.359s;
}
.star:nth-child(29) {
  --star-tail-length: 5.94em;
  --top-offset: 63.65vh;
  --fall-duration: 9.916s;
  --fall-delay: 7.509s;
}
.star:nth-child(30) {
  --star-tail-length: 6.75em;
  --top-offset: 30.74vh;
  --fall-duration: 7.376s;
  --fall-delay: 4.675s;
}
.star:nth-child(31) {
  --star-tail-length: 5.74em;
  --top-offset: 19.65vh;
  --fall-duration: 6.438s;
  --fall-delay: 1.634s;
}
.star:nth-child(32) {
  --star-tail-length: 5.82em;
  --top-offset: 52.51vh;
  --fall-duration: 7.253s;
  --fall-delay: 8.239s;
}
.star:nth-child(33) {
  --star-tail-length: 6.3em;
  --top-offset: 72.72vh;
  --fall-duration: 7.961s;
  --fall-delay: 5.193s;
}
.star:nth-child(34) {
  --star-tail-length: 5.72em;
  --top-offset: 22.57vh;
  --fall-duration: 10.754s;
  --fall-delay: 9.966s;
}
.star:nth-child(35) {
  --star-tail-length: 6.23em;
  --top-offset: 6.82vh;
  --fall-duration: 6.807s;
  --fall-delay: 6.686s;
}
.star:nth-child(36) {
  --star-tail-length: 5.7em;
  --top-offset: 97.74vh;
  --fall-duration: 11.747s;
  --fall-delay: 7.818s;
}
.star:nth-child(37) {
  --star-tail-length: 5.19em;
  --top-offset: 57.58vh;
  --fall-duration: 11.984s;
  --fall-delay: 2.448s;
}
.star:nth-child(38) {
  --star-tail-length: 6.86em;
  --top-offset: 30.45vh;
  --fall-duration: 8.185s;
  --fall-delay: 4.468s;
}
.star:nth-child(39) {
  --star-tail-length: 6.85em;
  --top-offset: 60.37vh;
  --fall-duration: 11.911s;
  --fall-delay: 3.355s;
}
.star:nth-child(40) {
  --star-tail-length: 7.27em;
  --top-offset: 77.13vh;
  --fall-duration: 10.528s;
  --fall-delay: 9.422s;
}
.star:nth-child(41) {
  --star-tail-length: 5.35em;
  --top-offset: 26.95vh;
  --fall-duration: 7.232s;
  --fall-delay: 4.23s;
}
.star:nth-child(42) {
  --star-tail-length: 5.6em;
  --top-offset: 12.27vh;
  --fall-duration: 11.705s;
  --fall-delay: 1.775s;
}
.star:nth-child(43) {
  --star-tail-length: 5.47em;
  --top-offset: 53.16vh;
  --fall-duration: 9.043s;
  --fall-delay: 8.7s;
}
.star:nth-child(44) {
  --star-tail-length: 7.02em;
  --top-offset: 53.46vh;
  --fall-duration: 9.423s;
  --fall-delay: 1.175s;
}
.star:nth-child(45) {
  --star-tail-length: 6.12em;
  --top-offset: 90.05vh;
  --fall-duration: 7.693s;
  --fall-delay: 2.175s;
}
.star:nth-child(46) {
  --star-tail-length: 5.3em;
  --top-offset: 21.08vh;
  --fall-duration: 7.222s;
  --fall-delay: 1.907s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.services {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 97vw 95vh, #212121 0%, black 100%);
  background-size: cover;
}/*# sourceMappingURL=style.css.map */