//* variables
$white: #fff;
$gold: #8b6a13;
$black: #000;
$fh1: 13vmin;
$fh2: 5vmin;
$fh3: 3.5vmin;
$fh4: 2vmin;

@font-face {
  font-family: "default_font";
  src: url("fonts/BAHNSCHRIFT.TTF");
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "default_font", "sans-serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 20px;
}
//*btns styles
.btn-r {
  padding: 1.2em 1.5em;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: bolder;
  color: $black;
  background-color: $gold;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: $gold;
    box-shadow: 0px 15px 20px rgb(130, 113, 25);
    color: #fff;
    transform: translateY(-3px);
  }
}
//* learn button
.learn {
  display: inline-block;
  border-radius: 4px;
  background-color: $gold;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 12px;
  width: 105px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: 13px;
  }

  span:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }

  &:hover span {
    padding-right: 14px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
}
//* send button
//*button
.q {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $gold;
  transition: all 0.8s;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: 2px solid $gold;
  cursor: pointer;
  margin-left: 30px;

  &:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid $white;
    box-shadow: 4px 5px 17px -4px $gold;
  }

  &::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: $gold;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
  }

  &:hover::before {
    width: 250%;
  }
}
//*end of btns
body {
  overflow-x: hidden;
}

.the_horse_bug {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(
    farthest-corner at 3vw 5vh,
    #212121 0%,
    black 100%
  );
  background-size: cover;
  overflow: hidden;
}

.logo {
  float: left;
  margin: 16px 36px;
  width: 80.5px;
  height: 35px;
}

#navbar {
  top: 0;
  transition: 0.2s;
  background-color: $black;
}

nav {
  height: 70px;
  z-index: 50;
  position: fixed;
  display: flex;
  align-items: stretch;
  color: $white;
  margin: 0;
  width: 100vw;

  a {
    flex-basis: 150px;
  }

  .spacer {
    flex-grow: 50;
  }

  ul {
    white-space: nowrap;

    li {
      display: inline-block;
      padding: 20px;

      a {
        text-decoration: none;
        color: $white;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:hover {
          color: $gold;
          transition: 0.7s;
        }
      }
    }
  }
  .account-info {
    flex-basis: 250px;
    white-space: nowrap;
    display: block;
    padding-top: 5px;
    padding-left: 10px;

    .learn {
      margin: 5px 5px;
    }
  }

  #menu-icon {
    padding-right: 10px;
    padding-top: 30px;
    cursor: pointer;
    display: none;
  }
}

#sidebar {
  overflow: hidden;
  transition: 0.2s;
  background-color: $black;
  opacity: 0.9;
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 0px;
  ul {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 850px) {
  nav {
    .navlist {
      display: none;
    }

    #user-info {
      display: none !important;
    }
  }

  #menu-icon {
    display: initial !important;
  }
}

.title-section {
  img {
    margin: 0 20px;
    width: 90vmin;
    height: 15.2vmin;
    opacity: 90%;
  }

  p {
    margin: 0 10px;
    font-size: $fh2;
    color: $white;
    text-align: center;
    margin-top: 50px;
  }
}

//*start of stars
@mixin sp-layout {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  transform: rotate(-25deg);
}

.star {
  $star-count: 46;
  --star-color: #8b6a13;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;

  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

//*end of stars

//*about section
.about {
  width: 100vw;
  height: 80%;
  background-image: radial-gradient(
    farthest-corner at 97vw 95vh,
    #212121 0%,
    black 100%
  );
  background-size: cover;
  padding: 100px 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  img{
    width: 417.5px;
    height: auto;
    max-width: 70vw;
  }
  .spacer{
    flex-basis: 15%;
  }
  .about-text{
    margin-left: 50px;
    p {
      color: $white;
      margin: 10px 0;
      font-size: 24px;
      display: block;
      margin-top: 50px;
    }
    h3 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 10px;
      color: $white;
      span {
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 10px;
        color: $gold;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .about{
    flex-direction:column-reverse;
    align-items: center;
    .spacer{
      display: none;
    }
    .about-text{
      display: block;
      text-align: center;
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
}

//*Services section
.services {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    farthest-corner at 97vw 95vh,
    #212121 0%,
    black 100%
  );
  background-size: cover;
  padding: 80px 50px;
  justify-items: center;
}

.title h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 80px;

  span {
    color: $gold;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
}

//*The services cards
#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: calc(100% - 20px);
  justify-items: center;
  justify-content: space-around;
}

#cards:hover > .card1::after {
  opacity: 10%;
}

.card {
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid #303030;
  display: flex;
  width: 325px;
  height: 375px;
  min-width: 300px;
  min-height: 350px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.card1:hover::before {
  opacity: 1;
}

.card1::before,
.card1::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 0.5s;
  width: 100%;
}

.card1::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card1::after {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card1 > .card1-content {
  background-color: var(--card1-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card1 content styles ↓ ↓ ↓ -- */

h1,
h2,
h3,
h4,
span {
  color: $white;
  font-weight: 400;
  margin: 0px;
}

i {
  color: $white;
}

.card1-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card1-image > i {
  font-size: 6em;
  opacity: 0.9;
}

.card1-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card1-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card1-info > i {
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card1-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
  text-align: center;
}

.card1-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
  text-align: center;
}
//* Contact section
//* Question part
.contact {
  width: 100vw;
  height: auto;
  background-color: $black;
  background-size: cover;
  padding: 30px 50px;
}

.contact {
  h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    margin-bottom: 30px;

    span {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 10px;
      text-align: center;
      margin-bottom: 50px;
      color: $gold;
    }
  }
}

.question {
  margin-bottom: 30px;
  text-align: center;
}

#question {
  background-color: #212121;
  border: transparent;
  height: 50px;
  padding: 20px;
  color: $white;
  width: 30%;
}
//* social icons
.socialinfo {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: $white;
  margin-bottom: 5px;
}
.fa-solid{
  padding: 10px;
}

.socialinfo p:first-child {
  margin-right: 30px;
}

.social {
  display: flex;
  justify-content: center;
}

.fa-brands::before {
  padding: 10px;
}

.fa-brands {
  transition: transform 0.4s;
}

.fa-brands:hover {
  color: $gold;
  transform: translateY(-7px);
}
/* -- ↓ ↓ ↓ YouTube link styles ↓ ↓ ↓ -- */

#youtube-link {
  bottom: 10px;
}

#youtube-link > i {
  color: rgb(239, 83, 80);
}

#source-link {
  bottom: 60px;
}

#source-link > i {
  color: rgb(94, 106, 210);
}

.link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  z-index: 100;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.link > i,
.link > span {
  height: 20px;
  line-height: 20px;
}

.link > span {
  color: white;
}

//*Scroll to top .learn
.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  
}

.scroll {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  background: #ad841b;
  background: $gold;
  padding: 15px;
  text-align: center;
  margin: 0 0 0 0;
  cursor: pointer;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  
}


.scroll:hover {
  background: #b98c1c;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}

.scroll:hover .fa {
  padding-top: -10px;
}

.scroll .fa {
  font-size: 30px;
  margin-top: 0px;
  margin-left: 0px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  color: $black;
}
